{% form_theme form '@CoreShopFrontend/Form/theme.html.twig' %}

{{ form_start(form, {'action': path('coreshop_cart_add', {'product': product.id})}) }}
    {{ form_errors(form) }}

    <button type="submit" class="btn btn-cart"
       rel="nofollow">
        {{ 'coreshop.ui.add_to_cart'|trans }}
        <i class="fa fa-shopping-cart"></i>
    </button>
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
