{% form_theme form '@CoreShopFrontend/Form/theme.html.twig' %}

{{ form_start(form, {'action': path('coreshop_cart_add', {'product': product.id})}) }}
    {{ form_errors(form) }}

    <div class="input-group">
        {{ form_row(form.cartItem.quantity, {label: false, attr: {class: 'form-control cart-item-quantity'}}) }}

        {% if form.unitDefinition is defined %}
            {{ form_row(form.unitDefinition, {label: false, attr: {class: 'form-control ml-1'}}) }}
        {% endif %}

        <div class="input-group-append {{ form.unitDefinition is defined ? 'ml-2' : '' }}">
            <button type="submit" class="btn btn-cart" rel="nofollow">
                {{ 'coreshop.ui.add_to_cart'|trans }}
                <i class="fa fa-shopping-cart"></i>
            </button>
        </div>
    </div>

    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

