{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}
{% set href = coreshop_path(product, 'coreshop_product_detail') %}

<div class="product-col">
    <div class="image">
        {% if product.getImage() %}
            <a href="{{ href }}">
                {{ product.getImage().getThumbnail('coreshop_productList').getHtml({'class': 'img-fluid', 'alt': product.getName(), 'id': 'image' ~ product.getId()})|raw }}
            </a>
        {% endif %}
    </div>
    <div class="caption">
        <h4><a href="{{ href }}">{{ product.getName() }}</a></h4>
        <div class="description">
            {{ product.getShortDescription() }}
        </div>

        <div class="price">
            <span class="price-new">{{ currency.getPrice(product) }}</span>
        </div>

        {% if coreshop_inventory_is_available(product) %}
        <div class="cart-button">
            {{ render(url('coreshop_partial_cart_add', {'product': product.id})) }}
        </div>
        {% endif %}
    </div>
</div>
