{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}
{% import '@CoreShopFrontend/Common/Macro/product_price.html.twig' as product_price %}

{% extends '@CoreShopFrontend/layout-column.html.twig' %}

{% block center %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ coreshop_path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
            {% if product.getCategories|length > 0 %}
                {% for cat in product.getCategories|first.getHierarchy() %}
                    <li class="breadcrumb-item"><a href="{{ coreshop_path(cat, 'coreshop_category_list') }}">{{ cat.getName }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="breadcrumb-item active">{{ product.getName }}</li>
        </ol>
    </nav>

    <div class="row product-info">

        <div class="col-sm-5 images-block">
            {% if product.getImage %}
                {{ product.getImage().getThumbnail("coreshop_productDetail").getHtml({"class": "img-responsive thumbnail"})|raw }}
            {% endif %}

            {% if product.getImages|length > 0 %}
                <div class="row">
                    {% for image in product.getImages %}
                        <div class="col-12 col-sm-6">
                            {{ image.getThumbnail("coreshop_productDetailThumbnail").getHtml({"class": "img-responsive thumbnail"})|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-sm-7 product-details">

            <h2>{{ product.getName }}</h2>
            <hr/>

            {% if product.getShortDescription|length > 0 %}
                <div class="description">
                    {{ product.getShortDescription }}
                </div>
                <hr/>
            {% endif %}

            <ul class="list-unstyled manufacturer">
                {% if product.getManufacturer %}
                    <li>
                        <span>{{ 'coreshop.ui.brand'|trans }}:</span> {{ product.getManufacturer.getName }}
                    </li>
                {% endif %}

                {% if product.getEan %}
                <li><span>{{ 'coreshop.ui.ean'|trans }}:</span> {{ product.getEan }}
                    {% endif %}
                <li>
                    <span>{{ 'coreshop.ui.availability'|trans }}:</span>
                    {% if product.getIsTracked %}
                        {% if coreshop_inventory_is_sufficient(product) %}
                            <strong class="label label-success"> {{ 'coreshop.ui.in_stock'|trans }}</strong>
                        {% else %}
                            {{ 'coreshop.ui.out_of_stock'|trans }}
                        {% endif %}
                    {% else %}
                        <strong class="label label-success"> {{ 'coreshop.ui.in_stock'|trans }}</strong>
                    {% endif %}
                </li>
            </ul>
            <hr/>

            {% set variants = product.getVariantDifferences(coreshop.localeCode, 'classificationstore', 'classificationStore') %}
            {# {% set variants = product->getVariantDifferences(coreshop.localeCode); //Use this for bricks %} #}

            {% if variants %}
                {% for variant in variants %}
                    <h4>{{ variant['variantName'] }}</h4>
                    <div class="form-group">
                        <select name="variant" class="form-control selectpicker btn-white">
                            {% for variantValue in variant['variantValues'] %}
                                <option data-href="{{ coreshop_path(variant, 'coreshop_product_detail', {name: variant['variantName'], product: variantValue['productId']}) }}"
                                        value="{{ variantValue['productId'] }}" {% if variantValue['selected'] %} selected="selected" {% endif %}> {{ variantValue['variantName'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <hr/>
            {% endif %}

            {% if coreshop_product_unit_definitions_available(product) %}
                <div class="unit-prices">
                    {{ product_price.display_product_unit_prices(product) }}
                </div>
            {% else %}
                <div class="price">
                    <span class="price-head">{{ 'coreshop.ui.price'|trans }}:</span>
                    {{ product_price.display_product_price(product) }}
                </div>
                <div class="tax">
                    {{ 'coreshop.product.tax.inc'|trans|format(product|coreshop_product_tax_rate) }} ({{ currency.convertAndFormat(product|coreshop_product_tax_amount) }})
                </div>
            {% endif %}

            <hr/>

            {% if coreshop_quantity_price_rule_ranges_available(product, coreshop.context) %}
                {% set rule = coreshop_quantity_price_rule(product, coreshop.context) %}
                {% include '@CoreShopFrontend/ProductQuantityPriceRanges/quantity_price_ranges_' ~ rule.getCalculationBehaviour() ~'.html.twig' with { rule: rule, product: product } only %}
                <hr/>
            {% endif %}

            <div class="options">
                <div class="cart-button btn-group">
                    <a href="{{ coreshop_path('coreshop_wishlist_add', {product: product.id}) }}" class="btn btn-wishlist">
                        <i class="fa fa-heart"></i>
                    </a>
                    {% if coreshop_inventory_is_available(product) %}
                        {{ render(url('coreshop_cart_add', {'product': product.id})) }}
                    {% endif %}
                </div>
            </div>

            <hr/>

        </div>
    </div>

    <div class="tabs-panel card-smart">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" href="#tab-description">{{ 'coreshop.ui.description'|trans }}</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="tab-description">
                {% if product.getDescription|length > 0 %}
                    {{ product.getDescription|raw }}
                {% else %}
                    {{ 'coreshop.ui.no_description_available'|trans }}
                {% endif %}
            </div>
        </div>
    </div>

    <br/>
{% endblock %}
