{% extends '@CoreShopFrontend/layout-full.html.twig' %}
{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% block center %}
    {% if quote.hasItems() %}
    <div class="table-responsive shopping-cart-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td class="text-center">
                    {{ 'coreshop.ui.image'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.product_details'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.quantity'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.price'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.total'|trans }}
                </td>
            </tr>
            </thead>
            <tbody>
            {% for item in quote.getItems %}
                {% set productUrl = coreshop_path(item.getProduct(), 'coreshop_product_detail') %}
                <tr class="shopping-cart-item shopping-cart-item-{{ item.getId }}">
                    <td class="text-center">
                        {% if item.getProduct and item.getProduct.getImage() %}
                            <a class="" href="{{ productUrl }}">
                                {{ item.getProduct.getImage.getThumbnail("coreshop_productQuote").getHtml({'class': 'img-fluid', 'alt': item.getProduct.getName, 'title': item.getProduct.getName})|raw }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ productUrl }}">
                            {{ item.getProduct.getName() }}
                        </a>
                        {% if item.getIsGiftItem %}
                            <br/><span>{{ 'coreshop.ui.gift_item'|trans }}</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.getIsGiftItem %}
                            <span>{{ item.getQuantity }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right cart-item-price">
                        {% set price = item.getItemPrice %}
                        {% set retailPrice = item.getItemRetailPrice %}

                        {% if price != retailPrice %}
                            <span class="price-old">{{ currency.convertAndFormat(retailPrice) }}</span>
                        {% endif %}

                        {{ currency.convertAndFormat(price) }}
                    </td>
                    <td class="text-right cart-item-total-price">
                        {{ currency.convertAndFormat(item.getTotal) }}
                    </td>
                </tr>
            {% endfor %}
            {% if quote.hasPriceRules %}
                {% for priceRule in quote.getPriceRuleItems %}
                    <tr>
                        <td colspan="2" class="text-center">
                            {{ priceRule.cartPriceRule.label ?: priceRule.cartPriceRule.name }}
                        </td>
                        <td class="text-center">

                        </td>
                        <td class="text-right">
                            -{{ currency.convertAndFormat(priceRule.getDiscount(true)) }}
                        </td>
                        <td class="text-right">
                            -{{ currency.convertAndFormat(priceRule.getDiscount(false)) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
            <tfoot>
            {% set shipping = quote.getShipping(false) %}
            {% set shippingIt = quote.getShipping(true) %}
            {% set discount = quote.getDiscount(false) %}
            {% set discountIt = quote.getDiscount(true) %}
            {% set taxes = quote.getTaxes %}
            {% set rowspan = 10 + taxes|length %}

            {% if shipping == 0 %}
                {% set rowspan = rowspan - 1 %}
            {% endif %}

            {% if discount == 0 %}
                {% set rowspan = rowspan - 2 %}
            {% endif %}

            <tr>
                <td colspan="3" rowspan="{{ rowspan }}">

                </td>
                <td class="text-right">
                    <strong>{{ 'coreshop.ui.subtotal_inc'|trans }}:</strong>
                </td>
                <td colspan="1" class="text-right cart-sub-total">
                    {{ currency.convertAndFormat(quote.getSubtotal(true)) }}
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <strong>{{ 'coreshop.ui.subtotal_excl'|trans }}:</strong>
                </td>
                <td colspan="1" class="text-right cart-discount">
                    {{ currency.convertAndFormat(quote.getSubtotal(false)) }}
                </td>
            </tr>
            {% if discount > 0 %}
                <tr>
                    <td class="text-right">
                        <strong>{{ 'coreshop.ui.discount_incl'|trans }}:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-discount">
                        -{{ currency.convertAndFormat(discountIt) }}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <strong>{{ 'coreshop.ui.discount_excl'|trans }}:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-discount">
                        -{{ currency.convertAndFormat(discount) }}
                    </td>
                </tr>
            {% endif %}
            {% if shipping > 0 %}
                <tr>
                    <td class="text-right">
                        <strong>{{ 'coreshop.ui.shipping_incl'|trans }}:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-shipping">
                        {{ currency.convertAndFormat(shippingIt) }}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <strong>{{ 'coreshop.ui.shipping_excl'|trans }}:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-shipping">
                        {{ currency.convertAndFormat(shipping) }}
                    </td>
                </tr>
            {% endif %}

            {% for taxItem in taxes %}
                 <tr>
                    <td class="text-right cart-tax-detail">
                        <strong>{{ 'coreshop.ui.tax_name'|trans|format(taxItem.getName) }}:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-tax-detail">
                        {{ currency.convertAndFormat(taxItem.amount) }}
                    </td>
                </tr>
            {% endfor %}
            {#TODO
            <?php foreach($taxes as $tax) { ?>
                <tr>
                    <td class="text-right cart-tax-detail">
                        <strong><?=$this->translate(sprintf("Tax (%s)", $tax['tax']->getName()))?>:</strong>
                    </td>
                    <td colspan="1" class="text-right cart-tax-detail">
                        <?=$this->cart->formatPrice($tax['amount'])?>
                    </td>
                </tr>
            <?php } ?>
            #}
           <tr>
                <td class="text-right">
                    <strong>{{ 'coreshop.ui.total_tax'|trans }}:</strong>
                </td>
                <td colspan="1" class="text-right cart-tax">
                    {{ currency.convertAndFormat(quote.getTotalTax) }}
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <strong>{{ 'coreshop.ui.total'|trans }}:</strong>
                </td>
                <td colspan="1" class="text-right cart-total-price">
                    {{ currency.convertAndFormat(quote.getTotal) }}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    {% else %}
        <p>{{ 'coreshop.ui.quote_empty'|trans }}</p>
    {% endif %}
{% endblock %}
