{% extends '@CoreShopFrontend/layout.html.twig' %}
{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

{% block content %}

    {% include '@CoreShopFrontend/Common/flash_messages.html.twig' %}

    {% if wishlist.hasItems() %}
    <div class="table-responsive shopping-wishlist-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td class="text-center">
                    {{ 'coreshop.ui.image'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.product_details'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.price'|trans }}
                </td>
                <td class="text-center">

                </td>
            </tr>
            </thead>
            <tbody>
            {% for item in wishlist.getItems %}
                {% set product = item.getProduct %}
                {% set productUrl = coreshop_path(product, 'coreshop_product_detail') %}
                <tr class="shopping-wishlist-item">
                    <td class="text-center">
                        {% if item.getProduct and item.getProduct.getImage() %}
                            <a class="" href="{{ productUrl }}">
                                {{ item.getProduct.getImage.getThumbnail("coreshop_productCart").getHtml({'class': 'img-fluid', 'alt': item.getProduct.getName, 'title': item.getProduct.getName})|raw }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ productUrl }}">
                            {{ product.getName() }}
                        </a>
                    </td>
                    <td class="text-right wishlist-item-price">
                        {{ currency.getPrice(product) }}
                    </td>
                    <td class="text-center">
                        <a href="{{ coreshop_path('coreshop_wishlist_remove', {product: product.id}) }}" title="{{ 'coreshop.ui.remove'|trans }}" class="btn btn-danger tool-tip" data-id="{{ product.getId }}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>{{ 'coreshop.ui.wishlist_empty'|trans }}</p>
    {% endif %}
    <br/>
{% endblock %}
