{% extends '@CoreShopFrontend/layout.html.twig' %}
{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

{% block content %}

    {% include '@CoreShopFrontend/Common/flash_messages.html.twig' %}

    {% if wishlist.hasItems %}
    <div class="table-responsive shopping-wishlist-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td class="text-center">
                    {{ 'coreshop.ui.image'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.product_details'|trans }}
                </td>
                <td class="text-center">
                    {{ 'coreshop.ui.price'|trans }}
                </td>
                <td class="text-center">

                </td>
            </tr>
            </thead>
            <tbody>
            {% for item in wishlist.items %}
                {% set product = item.product %}
                {% set productUrl = pimcore_object_path(product) %}
                <tr class="shopping-wishlist-item">
                    <td class="text-center">
                        {% if item.product and item.product.image is pimcore_asset_image %}
                            <a class="" href="{{ productUrl }}">
                                {{ item.product.image|pimcore_image_thumbnail_html('coreshop_productCart', {'imgAttributes': {'class': 'img-fluid'}, 'alt': item.product.name, 'title': item.product.name}) }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ productUrl }}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td class="text-right wishlist-item-price">
                        {{ currency.getPrice(product) }}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('coreshop_wishlist_remove', {product: product.id}) }}" title="{{ 'coreshop.ui.remove'|trans }}" class="btn btn-danger tool-tip" data-id="{{ product.id }}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>{{ 'coreshop.ui.wishlist_empty'|trans }}</p>
    {% endif %}
    <br/>
{% endblock %}
