{% import "@CoreShopFrontend/Common/Macro/product_price.html.twig" as product_price %}

<div class="col-md-4 col-sm-6">
    <div class="product-col">
        <div class="image">
            {% if product.getImage() %}
                <a href="{{ path('coreshop_product_detail', {name: product.getName, product: product.getId}) }}">
                    {{ product.getImage().getThumbnail("coreshop_productList").getHtml({"class": "img-fluid"})|raw }}
                </a>
            {% endif %}
        </div>
        <div class="caption">
            <h4><a href="{{ path('coreshop_product_detail', {name: product.getName, product: product.getId}) }}">{{ product.getName }}</a></h4>
            <div class="description">
                {{ product.getShortDescription }}
            </div>
            <div class="price">
                {{ product_price.display_product_price(product) }}
            </div>
            <div class="cart-button button-group">
                <a href="{{ path('coreshop_wishlist_add', {product: product.id}) }}" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                </a>
                <button type="button" title="" class="btn btn-compare" data-original-title="{{ 'coreshop.ui.compare'|trans }}" data-id="{{ product.getId }}">
                    <i class="fa fa-bar-chart-o"></i>
                </button>

                {% if coreshop_inventory_is_available(product) %}
                    <a href="{{ path('coreshop_cart_add', {product: product.id}) }}" type="button" class="btn btn-cart" rel="nofollow">
                        {{ 'coreshop.ui.add_to_cart'|trans }}
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
