{% import "@CoreShopFrontend/Common/Macro/product_price.html.twig" as product_price %}

<div class="col-md-4 col-sm-6 mb-4">
    <div class="d-flex flex-column product-col">
        <div class="image">
            {% if product.getImage() %}
                <a href="{{ coreshop_path(product, 'coreshop_product_detail') }}">
                    {{ product.getImage().getThumbnail("coreshop_productList").getHtml({"class": "img-fluid"})|raw }}
                </a>
            {% endif %}
        </div>
        <div class="caption mb-auto">
            <h4>
                <a href="{{ coreshop_path(product, 'coreshop_product_detail') }}">{{ product.getName }}</a>
            </h4>
            <div class="description">
                {{ product.getShortDescription }}
            </div>
        </div>
        <div>
            <div class="price">
                {{ product_price.display_product_price(product) }}
            </div>
            <div class="cart-button btn-group">
                <a href="{{ coreshop_path('coreshop_wishlist_add', {product: product.id}) }}" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                </a>
                {% if coreshop_inventory_is_available(product) %}
                    {{ render(url('coreshop_partial_cart_add', {'product': product.id})) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
