{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

<div class="col-xs-12">
    <div class="product-col list clearfix">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="image">
                    {% if product.getImage() %}
                        <a href="{{ path('coreshop_product_detail', {name: product.getName, product: product.getId}) }}">
                            {{ product.getImage().getThumbnail("coreshop_productList").getHtml({"class": "img-responsive"})|raw }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="caption">
                    <h4>
                        <a href="{{ path('coreshop_product_detail', {name: product.getName, product: product.getId}) }}">{{ product.getName }}</a>
                    </h4>
                    <div class="description">
                        {{ product.getShortDescription }}
                    </div>

                    <div class="price">
                        <span class="price-new">{{ currency.getPrice(product) }}</span>
                        {#TODO: Savings#}
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" title="" class="btn btn-wishlist"
                                data-original-title="{{ 'wishlist'|trans }}"
                                data-id="{{ product.getId }}">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="" class="btn btn-compare"
                                data-original-title="{{ 'compare'|trans }}"
                                data-id="{{ product.getId }}">
                            <i class="fa fa-bar-chart-o"></i>
                        </button>

                        <a href="{{ path('coreshop_cart_add', {product: product.id}) }}" type="button"
                           class="btn btn-cart">
                            {{ 'add_to_cart'|trans }}
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
