<h3 class="side-heading">{{ 'coreshop.ui.categories'|trans }}</h3>
{% if categories %}
<div class="list-group categories">
    {% for category in categories %}
        {% set active = activeCategory is defined and activeCategory and activeCategory == category.id %}
        <a href="{{ coreshop_path(category, 'coreshop_category_list') }}" class="{% if active %} active {% endif %} list-group-item">
            <i class="fa fa-chevron-right"></i>
            {{ category.getName }}
        </a>
        {% if active and activeSubCategories|length > 0 %}
            <div class="list-group categories">
                {% for subCategory in activeSubCategories %}
                    {% set active = activeCategory is defined and activeCategory and activeCategory.getId == subCategory.getId %}
                    <a href="{{ coreshop_path(subCategory, 'coreshop_category_list') }}" class="{% if active %} active {% endif %} list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        {{ subCategory.getName }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
