{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

<div class="product-col">
    <div class="image">

        {% if product.getImage() %}
            <!-- TODO: URL -->
            <a href="#">
                {{ product.getImage().getThumbnail('coreshop_productList').getHtml({'class': 'img-responsive', 'alt': product.getName(), 'id': 'image' ~ product.getId()})|raw }}
            </a>
        {% endif %}
    </div>
    <div class="caption">
        <h4><a href="#">{{ product.getName() }}</a></h4>
        <div class="description">
            <!-- TODO: add description -->
        </div>

        <div class="price">
            <span class="price-new">{{ currency.convertAndFormat(product.getPrice) }}</span>
        </div>

        <div class="cart-button">
            <a href="{{ path('coreshop_shop_add_cart_item', {'productId': product.id}) }}" type="button" class="btn btn-cart">
                {{ 'add_to_cart'|trans }}
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</div>