<div class="product-col">
    <div class="image">

        {% if product.getImage() %}
            <!-- TODO: URL -->
            <a href="#">
                {{ product.getImage().getThumbnail('coreshop_productList').getHtml({'class': 'img-responsive', 'alt': product.getName(), 'id': 'image' ~ product.getId()}) }}
            </a>
        {% endif %}
    </div>
    <div class="caption">
        <h4><a href="#">{{ product.getName() }}</a></h4>
        <div class="description">
            <!-- TODO: add description -->
        </div>

        <div class="price">
            <span class="price-new">{{ product.getPrice() }}</span>
        </div>

        <div class="cart-button">
            <button type="button" class="btn btn-cart" data-id="{{ product.getId() }}" data-img="image{{ product.getId() }}">
                {{ 'add_to_cart'|trans }}
                <i class="fa fa-shopping-cart"></i>
            </button>
        </div>
    </div>
</div>