<div class="product-colors my-_5">
    {% for attribute in group.attributes|sort((a, b) => a.attribute.sorting <=> b.attribute.sorting) %}
        <div data-bs-toggle="tooltip" title="{{ attribute.attribute.name }}" class="product-colors__item">
            <input disabled data-group="{{ group.group.id }}" type="radio" class="btn-check" name="attributes[{{ group.group.id }}]" id="attribute-{{ attribute.attribute.id }}" value="{{ attribute.attribute.id }}" autocomplete="off">
            <label for="attribute-{{ attribute.attribute.id }}" style="--bs-product-color: {{ attribute.attribute.valueColor }}"></label>
        </div>
    {% endfor %}
</div>