<footer id="footer-area">
    <div class="footer-links">

        <div class="container">

            <div class="col-md-2 col-sm-6">
                <h5>{{ 'CoreShop' }}</h5>
                <ul>
                    <li>{{ 'static link1 TODO' }}</li>
                    <li>{{ 'static link2 TODO' }}</li>
                    <li>{{ 'static link3 TODO' }}</li>
                    <li>{{ 'static link4 TODO' }}</li>
                </ul>
            </div>

            {{ render(controller('coreshop.frontend.controller.customer:footerAction')) }}

            <div class="col-md-2 col-sm-6">
                <h5>{{ 'Services' }}</h5>
                <ul>
                    <li>{{ 'static link1 TODO' }}</li>
                    <li>{{ 'static link2 TODO' }}</li>
                    <li>{{ 'static link3 TODO' }}</li>
                    <li>{{ 'static link4 TODO' }}</li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-6">
                <h5>{{ 'Follow Me' }}</h5>
                <ul>
                    <li><a href="https://www.facebook.com/dominik.pfaffenbauer" target="_blank">{{ 'Facebook' }}</a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=341821585" target="_blank">{{ 'LinkedIn' }}</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-12 last">
                <h5>{{ 'Contact Us' }}</h5>
                <ul>
                    <li>{{ 'Company Name' }}</li>
                    <li>
                        <li>{{ 'Company Address' }}</li>
                    </li>
                    <li>
                        <li>{{ 'Company Mail' }}</li>
                    </li>
                </ul>
                <h4 class="lead">
                    {{ 'Phone' }}: <span>{{ 'Company Phone' }}</span>
                </h4>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">

            <p class="pull-left">
                {{ '&copy; 2017 CoreShop | <a href="http://www.coreshop.org">http://www.coreshop.org</a>.' }}
            </p>

            <ul class="pull-right list-inline">
                <li>
                    <img src="/bundles/coreshopfrontend/static/images/payment-icon/cirrus.png" alt="PaymentGateway" />
                </li>
                <li>
                    <img src="/bundles/coreshopfrontend/static/images/payment-icon/paypal.png" alt="PaymentGateway" />
                </li>
                <li>
                    <img src="/bundles/coreshopfrontend/static/images/payment-icon/visa.png" alt="PaymentGateway" />
                </li>
                <li>
                    <img src="/bundles/coreshopfrontend/static/images/payment-icon/mastercard.png" alt="PaymentGateway" />
                </li>
                <li>
                    <img src="/bundles/coreshopfrontend/static/images/payment-icon/americanexpress.png" alt="PaymentGateway" />
                </li>
            </ul>
        </div>
    </div>
</footer>