<header id="header-area">
    <div class="header-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ coreshop_path('coreshop_index') }}">
                                {{ 'coreshop.ui.home'|trans }}
                            </a>
                        </li>
                        {{ render(controller('coreshop.frontend.controller.customer:headerAction')) }}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ coreshop_path('coreshop_wishlist_summary') }}">
                                {{ 'coreshop.ui.wishlist'|trans }}
                            </a>
                            {{ render(controller('coreshop.frontend.controller.currency:widgetAction')) }}
                            {{ render(controller('coreshop.frontend.controller.language:widgetAction')) }}
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="row">
                {{ render(controller('coreshop.frontend.controller.search:widgetAction')) }}

                <div class="col-md-6">
                    <div id="logo">
                        <a href="{{ coreshop_path('coreshop_index') }}">
                            <img src="/bundles/coreshopfrontend/static/images/logo.png" title="CoreShop" alt="CoreShop"
                                 class="img-fluid"/>
                            {{ 'Core<span class="black">Shop</span>' }}
                        </a>
                    </div>
                </div>

                <div class="col-md-3 p-sm-2">
                    {{ render(controller('coreshop.frontend.controller.cart:widgetAction')) }}
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('coreshop.frontend.controller.category:menuAction')) }}
</header>