<header id="header-area">
    <div class="header-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ coreshop_path('coreshop_index') }}">
                                {{ 'coreshop.ui.home'|trans }}
                            </a>
                        </li>
                        {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\CustomerController::headerAction')) }}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ coreshop_path('coreshop_wishlist_summary') }}">
                                {{ 'coreshop.ui.wishlist'|trans }}
                            </a>
                            {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\CurrencyController::widgetAction')) }}
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'coreshop.ui.language'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languageDropdown">
                                {% for document in coreshop_locale_switcher(document) %}
                                    <a class="dropdown-item" href="{{ document.target }}">{{ document.language }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="row">
                {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\SearchController::widgetAction')) }}

                <div class="col-md-6">
                    <div id="logo">
                        <a href="{{ coreshop_path('coreshop_index') }}">
                            <img src="/bundles/coreshopfrontend/static/images/logo-full.svg" title="CoreShop" alt="CoreShop" class="img-fluid" width="300px"/>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 p-sm-2">
                    {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\CartController::widgetAction')) }}
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\CategoryController::menuAction')) }}
</header>
