{% extends '@CoreShopFrontend/Mail/layout.html.twig' %}

{% block mail %}
    <row>
        <columns>
            {{ pimcore_wysiwyg('text') }}
        </columns>
    </row>

    {% if order is defined %}
        <callout class="secondary">
            <row>
                <columns large="6">
                    {% if order.getPaymentProvider %}
                    <p>
                        <strong>{{ 'coreshop.ui.payment_method'|trans }}</strong><br/>
                        {{ order.paymentProvider.identifier }}
                    </p>
                    {% endif %}
                    <p>
                        <strong>{{ 'coreshop.ui.email_address'|trans }}</strong><br/>
                        {{ order.customer.email }}
                    </p>
                    <p>
                        <strong>{{ 'coreshop.ui.order_number'|trans }}</strong><br/>
                        {{ order.orderNumber }}
                    </p>
                </columns>
                {% if order.carrier %}
                    <columns large="6">
                        <p>
                            <strong>{{ 'coreshop.ui.shipping_method'|trans }}</strong><br/>
                            {{ order.carrier.name }}<br/>
                            {% if order.shippingAddress is defined %}
                                <strong>{{ 'coreshop.ui.shipping_address'|trans }}</strong><br/>
                                {{ order.shippingAddress|coreshop_format_address }}
                            {% endif %}
                        </p>
                    </columns>
                {% endif %}
            </row>
        </callout>
    {% endif %}
{% endblock %}