{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% if cart.hasItems() %}
<div class="table-responsive shopping-cart-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td class="text-center">
                {{ 'image'|trans }}
            </td>
            <td class="text-center">
                {{ 'product_details'|trans }}
            </td>
            <td class="text-center">
                {{ 'quantity'|trans }}
            </td>
            <td class="text-center">
                {{ 'price'|trans }}
            </td>
            <td class="text-center">
                {{ 'total'|trans }}
            </td>
            {% if editAllowed %}
                <td class="text-center">
                    {{ 'act' | trans }}
                </td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in cart.getItems %}
            {% set productUrl = '/' %}
            <tr class="shopping-cart-item shopping-cart-item-<?=$item->getId()?>">
                <td class="text-center">
                    {% if item.getProduct and item.getProduct.getImage() %}
                        <a class="" href="{{ productUrl }}">
                            {{ item.getProduct.getImage.getThumbnail("coreshop_productCart").getHtml({'class': 'img-responsive', 'alt': item.getProduct.getName, 'title': item.getProduct.getName})|raw }}
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ productUrl }}">
                        {{ item.getProduct.getName() }}
                    </a>
                    {% if item.getIsGiftItem %}
                        <br/><span>{{ 'gift_item'|trans }}</span>
                    {% endif %}
                    {# TODO
                    <?php if(count($item->product->getValidSpecificPriceRules()) > 0) { ?>
                        <div class="price-rules">
                        <?php foreach($item->product->getValidSpecificPriceRules() as $rule) { ?>
                            <?php foreach($rule->getActions() as $action) { ?>
                                <?php
                                    if($action instanceof \CoreShop\Model\PriceRule\Action\DiscountAmount) {
                                        echo "<br/>" . $this->translate(sprintf("You will get a discount of %s per Product.", $this->cart->formatPrice($action->getAmount())));
                                    }
                                    else if($action instanceof \CoreShop\Model\PriceRule\Action\DiscountPercent) {
                                        echo "<br/>" . $this->translate(sprintf("You will get a discount of %s%% per Product.", $action->getPercent()));
                                    }
                                    else if($action instanceof \CoreShop\Model\PriceRule\Action\NewPrice) {
                                        echo "<br/>" . $this->translate(sprintf("You will get a total new price of %s instead of %s.", $this->cart->formatPrice($action->getPriceWithTax($item->getProduct())), $this->cart->formatPrice($item->getProductRetailPriceWithTax())));
                                    }
                                ?>
                            <?php } ?>
                        <?php } ?>
                        </div>
                    <?php } ?>
                    #}
                </td>
                <td class="text-center">
                    {% if item.getIsGiftItem and not editAllowed %}
                        <span>{{ item.getQuantity }}</span>
                    {% else %}
                        <div class="input-group btn-block">
                            <input type="number" name="cart-item-amount-{{ item.getId }}" value="{{ item.getQuantity }}" size="1" class="form-control cart-item-amount" data-id="{{ item.getId }}" {% if not editAllowed %} readonly="readonly" {% endif %}  />
                        </div>
                    {% endif %}
                </td>
                <td class="text-right cart-item-price">
                    {% set price = item.getItemPrice %}
                    {% set retailPrice = item.getItemRetailPrice %}

                    {% if price != retailPrice %}
                        <span class="price-old">{{ currency.convertAndFormat(retailPrice) }}</span>
                    {% endif %}

                    {{ currency.convertAndFormat(price) }}
                </td>
                <td class="text-right cart-item-total-price">
                    {{ currency.convertAndFormat(item.getTotal) }}
                </td>
                {% if editAllowed %}
                    <td class="text-center">
                        {% if not item.getIsGiftItem %}
                            <a href="{{ path('coreshop_shop_remove_cart_item', {cartItemId: item.getId}) }}" type="button" title="{{ 'remove'|trans }}" class="btn btn-default tool-tip removeFromCart" data-id="{{ item.getId }}">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if cart.hasPriceRules %}
            {% for priceRule in cart.getPriceRuleItems %}
                <tr>
                    <td colspan="2" class="text-center">
                        {{ priceRule.cartPriceRule.getName }}
                    </td>
                    <td class="text-center">

                    </td>
                    <td class="text-right">
                        -{{ currency.convertAndFormat(priceRule.getDiscount(true)) }}
                    </td>
                    <td class="text-right">
                        -{{ currency.convertAndFormat(priceRule.getDiscount(false)) }}
                    </td>
                    {% if editAllowed %}
                        <td colspan="1" class="text-left cart-sub-total">
                            <a title="{{ 'remove'|trans }}" class="btn btn-default tool-tip removeFromCart" href="#">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
        <tfoot>
        {% set shipping = cart.getShipping(false) %}
        {% set shippingIt = cart.getShipping(true) %}
        {% set discount = cart.getDiscount(false) %}
        {% set discountIt = cart.getDiscount(true) %}
        {% set payment = cart.getPaymentFee() %}
        {% set taxes = cart.getTaxes %}
        {% set rowspan = 10 + taxes|length %}

        {% if shipping == 0 %}
            {% set rowspan = rowspan - 1 %}
        {% endif %}

        {% if discount == 0 %}
            {% set rowspan = rowspan - 2 %}
        {% endif %}

        {% if payment == 0 %}
            {% set rowspan = rowspan - 2 %}
        {% endif %}

        <tr>
            <td colspan="3" rowspan="{{ rowspan }}">
                {# TODO
                <form class="form-inline" role="form" method="post" action="<?=\CoreShop::getTools()->url(array("lang" => $this->language, "act" => "pricerule"), "coreshop_cart", true)?>">
                    <?php if(!$this->edit) { ?>
                        <input type="hidden" name="redirect" value="<?=\CoreShop::getTools()->url(array("act" => "payment"), "coreshop_checkout")?>" />
                    <?php } ?>
                    <div class="form-group">
                        <h4><?=$this->translate("Voucher")?></h4>
                    </div><br/>
                    <div class="form-group">
                        <input type="text" class="pruceRule form-control" id="priceRule" name="priceRule" value="">
                    </div>
                    <button type="submit" name="submitAddDiscount" class="btn btn-black"><span>OK</span></button>
                </form>

                <?php
                $highlightPriceRules = \CoreShop\Model\Cart\PriceRule::getHighlightItems($this->cart);

                if(count($highlightPriceRules) > 0)
                {
                ?>
                <h4><?= $this->translate("Take advantage of our exclusive offers:") ?></h4>
                <ul class="list">
                    <?php
                    }

                    foreach($highlightPriceRules as $priceRule) {
                        echo '<li class="cart-rule"><strong class="cart-rule-code">'.$priceRule->getCode().'</strong> ' . $priceRule->getName() . '</li>';
                    }

                    if(count($highlightPriceRules) > 0)
                    ?></ul><?
                ?>#}
            </td>
            <td class="text-right">
                <strong>{{ 'subtota_inc'|trans }}:</strong>
            </td>
            <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-sub-total">
                {{ currency.convertAndFormat(cart.getSubtotal(true)) }}
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <strong>{{ 'subtotal_excl'|trans }}:</strong>
            </td>
            <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-discount">
                {{ currency.convertAndFormat(cart.getSubtotal(false)) }}
            </td>
        </tr>
        {% if discount > 0 %}
            <tr>
                <td class="text-right">
                    <strong>{{ 'discount_incl'|trans }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-discount">
                    -{{ currency.convertAndFormat(discountIt) }}
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <strong>{{ 'discount_excl'|trans }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-discount">
                    -{{ currency.convertAndFormat(discount) }}
                </td>
            </tr>
        {% endif %}
        {% if shipping > 0 %}
            <tr>
                <td class="text-right">
                    <strong>{{ 'shippig_incl'|trans }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-shipping">
                    {{ currency.convertAndFormat(shippingIt) }}
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <strong>{{ 'shipping_excl'|trans }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-shipping">
                    {{ currency.convertAndFormat(shipping) }}
                </td>
            </tr>
        {% endif %}
        {% if payment > 0 %}
            <tr>
                <td class="text-right">
                    <strong>{{ 'payment_fee'|trans }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-payment">
                    {{ currency.convertAndFormat(payment) }}
                </td>
            </tr>
        {% endif %}
        {% for tax in taxes %}
             <tr>
                <td class="text-right cart-tax-detail">
                    <strong>{{ "tax_name"|trans|format(tax['tax'].getName) }}:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-tax-detail">
                    {{ currency.convertAndFormat(tax['amount']) }}
                </td>
            </tr>
        {% endfor %}
        {#TODO
        <?php foreach($taxes as $tax) { ?>
            <tr>
                <td class="text-right cart-tax-detail">
                    <strong><?=$this->translate(sprintf("Tax (%s)", $tax['tax']->getName()))?>:</strong>
                </td>
                <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-tax-detail">
                    <?=$this->cart->formatPrice($tax['amount'])?>
                </td>
            </tr>
        <?php } ?>
        #}
       <tr>
            <td class="text-right">
                <strong>{{ 'total_tax'|trans }}:</strong>
            </td>
            <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-tax">
                {{ currency.convertAndFormat(cart.getTotalTax) }}
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <strong>{{ 'total'|trans }}:</strong>
            </td>
            <td colspan="{% if editAllowed %} 2 {% else %} 1 {% endif %}" class="text-right cart-total-price">
                {{ currency.convertAndFormat(cart.getTotal) }}
            </td>
        </tr>
        </tfoot>
    </table>
</div>
{% else %}
    <p>{{ 'cart_empty'|trans }}</p>
{% endif %}