{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

<div id="cart" class="btn-group btn-block">
    <button type="button" class="btn btn-block btn-lg dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i>
        <span id="cart-overview-total">
            <span class="cart-badge">{% if cart.items %} {{ cart.items|length }} {% else %} 0 {% endif %}</span> {{ 'coreshop.ui.items'|trans }} -
            <span class="cart-total"  {{ coreshop_test_html_attribute('cart-total') }}> {{ currency.format(cart.total, cart.currency.isoCode) }}</span>
        </span>
    </button>
    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
        <li>
            {% if cart.hasItems %}
            <table class="table hcart cart-items">
                {% for item in cart.items %}
                    <tr>
                        <td class="text-center">
                            {% if item.product %}
                            <a href="{{ coreshop_path(item.product, 'coreshop_product_detail') }}">
                                {% if item.product and item.product.image is asset_image %}
                                    {{ item.product.image|image_thumbnail_html("coreshop_productCartPreview", {'class': 'img-thumbnail img-fluid', 'title': item.product.name, 'alt': item.product.name}) }}
                                {% endif %}
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-left">
                            {% if item.product %}
                            <a href="{{ coreshop_path(item.product, 'coreshop_product_detail') }}">
                                {{ item.product.name }}
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-right">x {{ item.quantity }}</td>
                        <td class="text-right">{{ currency.format(item.total, cart.currency.isoCode) }}</td>
                        <td class="text-center">
                            {% if not item.isGiftItem %}
                                <a href="{{ coreshop_path(cart, 'coreshop_cart_remove', {cartItem: item.id}) }}" class="removeFromCart" data-id="{{ item.id }}" data-refresh="true">
                                    <i class="fa fa-times"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </li>
        <li>
            <table class="table table-bordered total">
                <tbody>
                <tr>
                    <td class="text-right"><strong>{{ 'coreshop.ui.subtotal'|trans }}</strong></td>
                    <td class="text-left cart-subtotal">{{ currency.format(cart.subtotal, cart.currency.isoCode) }}</td>
                </tr>
                <tr>
                    <td class="text-right"><strong>{{ 'coreshop.ui.total'|trans }}</strong></td>
                    <td class="text-left cart-total">{{ currency.format(cart.total, cart.currency.isoCode) }}</td>
                </tr>
                </tbody>
            </table>
            <p class="text-right btn-block1">
                <a href="{{ coreshop_path(cart, 'coreshop_cart_summary') }}">
                    {{ 'coreshop.ui.cart'|trans }}
                </a>
                <a href="{{ coreshop_path(cart, 'coreshop_checkout', {'stepIdentifier': coreshop_checkout_steps_get_first()}) }}">
                    {{ 'coreshop.ui.checkout'|trans }}
                </a>
            </p>
        </li>
    </ul>
</div>
