{% extends '@CoreShopFrontend/layout.html.twig' %}

{% block content %}
    {% include '@CoreShopFrontend/Checkout/_order-steps.html.twig' with {currentStep: 1, steps: checkoutSteps} only %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans }}
        </div>
    {% endfor %}

    {{ render(controller('coreshop.frontend.controller.cart:widgetSummaryAction')) }}

    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <a href="{{ path('coreshop_index') }}" class="btn btn-default w-100">
                {{ 'coreshop.ui.continue_shopping'|trans }}
            </a>
        </div>
        <div class="col-xs-12 col-sm-1 col-sm-push-9">
            <a href="{{ path('coreshop_checkout', {'stepIdentifier': 'cart'}) }}" class="btn btn-main w-100">
                {{ 'coreshop.ui.checkout'|trans }}
            </a>
        </div>
    </div>
    <br/>
{% endblock %}