{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% extends '@CoreShopFrontend/layout-column.html.twig' %}

{% block center %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <a href="{{ coreshop_path('coreshop_index') }}" itemprop="item">
                    <span itemprop="name">{{ 'coreshop.ui.home'|trans }}</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumb-item active">
                {{ 'coreshop.ui.search'|trans }}
            </li>
        </ol>
    </nav>

    <h2 class="main-heading2">
        {{ 'coreshop.ui.search_results_for'|trans }} {{ searchText }}
    </h2>

    <div class="row">
        {% for result in paginator %}
            {% include '@CoreShopFrontend/Category/_list.html.twig' with {
                product: result,
            } only %}
        {% endfor %}
    </div>

    {% include '@CoreShopFrontend/Common/paginator.html.twig' with {
        paginator: paginator
    } only %}
{% endblock %}