{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

<div class="tier-prices d-block">
    <h3>{{ 'coreshop.ui.tier_pricing.tier_prices'|trans }}</h3>
    <table class="table table-striped">
        <thead class="">
        <tr class="">
            <th scope="col">{{ 'coreshop.ui.tier_pricing.quantity'|trans }}</th>
            <th scope="col">{{ 'coreshop.ui.tier_pricing.price_per_item'|trans }}</th>
        </tr>
        </thead>
        <tbody class="">
        {% for range in ranges %}
            <tr class="">
                <td class="">{{ 'coreshop.ui.tier_pricing.starting_from'|trans }} <span class="">{{ range.getRangeFrom() }}</span>
                </td>
                <td class="">
                    {{ currency.convertAndFormat(coreshop_tier_price_calculated(range, product)) }}
                    {% if range.isHighlighted() %}
                        <span class="badge badge-info">{{ 'coreshop.ui.tier_pricing.best_offer'|trans }}</span>
                    {% endif %}
                    {% if range.hasPseudoPrice() %}
                        <small>{{ 'coreshop.ui.tier_pricing.list_price'|trans }}
                            <del>{{ currency.convertAndFormatFromCustomCurrency(range.getCurrency.isoCode, range.getPseudoPrice()) }}</del>
                        </small>
                    {% elseif range.getPricingBehaviour() == 'percentage_decrease' %}
                        <small>{{ 'coreshop.ui.tier_pricing.you_save'|trans }}: {{ range.getPercentage() }}%</small>
                    {% elseif range.getPricingBehaviour() == 'amount_decrease' %}
                        <small>{{ 'coreshop.ui.tier_pricing.you_save'|trans }}: {{currency.convertAndFormatFromCustomCurrency(range.getCurrency.isoCode, range.getAmount()) }}</small>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
