{% extends '@CoreShopFrontend/layout-full.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block center %}
    <div id="main-container" class="container p-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ coreshop_path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ 'coreshop.ui.reset_password'|trans }}</li>
            </ol>
        </nav>

        <h2 class="main-heading text-center">
            {{ 'coreshop.ui.reset_password'|trans }} <br/>
        </h2>

        <section class="registration-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-smart">
                        <div class="card-body">
                            {{ form_start(form) }}
                                {{ form_rest(form) }}

                                <div class="form-control">
                                    <button type="submit" class="btn btn-successs">
                                        {{ 'coreshop.ui.reset'|trans }}
                                    </button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}