{% extends '@CoreShopFrontend/layout-full.html.twig' %}
{% form_theme form '@CoreShopFrontend/Common/theme.html.twig' %}

{% block center %}
    <div id="main-container" class="container p-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ coreshop_path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ 'coreshop.ui.register'|trans }}</li>
            </ol>
        </nav>

        <h2 class="main-heading text-center">
            {{ 'coreshop.ui.register'|trans }} <br/>
        </h2>

        <section class="registration-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-smart">
                        <div class="card-body">

                            {{ form_start(form, {'method': 'POST'}) }}

                                {{ form_row(form.gender) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.user.plainPassword) }}
                                {{ form_row(form.address) }}

                            {{ form_end(form, {'method': 'POST'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
