{% extends '@CoreShopFrontend/layout.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'coreshop.ui.error'|trans }}</a></li>
        </ol>
    </nav>

    <h2 class="main-heading text-center">
        {{ 'coreshop.ui.error'|trans }}
    </h2>

    <div class="content-box text-center">

        {% if app.environment == 'dev' %}
            {{ dump(lastPayment) }}
        {% endif %}

        {% if lastPayment.state == 'cancelled' %}
            <p>{{ 'coreshop.ui.checkout.error.cancelled'|trans }}</p>
            <p>
                <a href="{{ path('coreshop_cart_summary') }}" class="btn btn-secondary text-uppercase">{{ 'coreshop.ui.cart'|trans }}</a>
            </p>
        {% else %}
            <p>{{ 'coreshop.ui.checkout.error.default'|trans }}</p>
            <p>
                <a href="{{ path('coreshop_index') }}" class="btn btn-secondary text-uppercase">{{ 'coreshop.ui.back_to_home'|trans }}</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
