{% extends '@CoreShopFrontend/layout.html.twig' %}

{% block content %}
     <ol class="breadcrumb">
        <li><a href="{{ path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
        <li class="active">{{ 'coreshop.ui.error'|trans }}</a></li>
    </ol>

    <h2 class="main-heading text-center">
        {{ 'coreshop.ui.error'|trans }}
    </h2>

    <div class="content-box text-center">
        <h4 class="special-heading">{{ 'coreshop.ui.ooops'|trans }}</h4>
        <h5>
            {{ 'coreshop.ui.sorry_something_went_wrong'|trans }}
        </h5>
        <br>
        {% if app.environment == 'dev' %}
            {{ dump(lastPayment) }}
        {% endif %}

        <p>
            <a href="{{ path('coreshop_index') }}" class="btn btn-black text-uppercase">{{ 'coreshop.ui.back_to_home'|trans }}</a>
        </p>
    </div>
{% endblock %}