{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

{% set productUrl = coreshop_path(item.getProduct(), 'coreshop_product_detail') %}

<tr class="shopping-cart-item">
    <td class="text-center">
        {% if item.getProduct and item.getProduct.getImage() %}
            <a class="" href="{{ productUrl }}">
                {{ item.getProduct.getImage.getThumbnail('coreshop_productCart').getHtml({'class': 'img-fluid', 'alt': item.getProduct.getName, 'title': item.getProduct.getName})|raw }}
            </a>
        {% endif %}
    </td>
    <td class="text-center">
        <a href="{{ productUrl }}">
            {{ item.getProduct.getName() }}
        </a>
        {% if item.getIsGiftItem %}
            <br/><span>{{ 'coreshop.ui.gift_item'|trans }}</span>
        {% endif %}
    </td>
    <td class="text-center">
        <span>{{ item.getQuantity }}</span>
        {% if item.hasUnitDefinition %}
            <span class="unit-definition unit-name">{{ item.getUnitDefinition.getUnit.getName }}</span>
        {% endif %}
    </td>
    <td class="text-right cart-item-price">
        {% set price = item.getItemPrice %}
        {% set discount = item.getItemDiscount %}
        {% set discountPrice = item.getItemDiscountPrice %}
        {% set retailPrice = item.getItemRetailPrice %}

        {% if price < retailPrice %}
            <span class="price-old">
                {% if discountPrice > 0 %}
                    {{ currency.convertAndFormat(discountPrice) }}
                {% endif %}

                {% if discount > 0 %}
                    (-{{ currency.convertAndFormat(discount) }})
                {% endif %}
            </span>
        {% endif %}

        {{ currency.convertAndFormat(price) }}
    </td>
    <td class="text-right cart-item-total-price">
        {{ currency.convertAndFormat(item.getTotal) }}
    </td>
</tr>
