<div class="table-responsive shopping-cart-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td class="text-center">
                {{ 'coreshop.ui.image'|trans }}
            </td>
            <td class="text-center">
                {{ 'coreshop.ui.product_details'|trans }}
            </td>
            <td class="text-center">
                {{ 'coreshop.ui.quantity'|trans }}
            </td>
            <td class="text-center">
                {{ 'coreshop.ui.price'|trans }}
            </td>
            <td class="text-center">
                {{ 'coreshop.ui.total'|trans }}
            </td>
        </tr>
        </thead>
        <tbody>
            {% for item in cart.items %}
                {% include '@CoreShopFrontend/Checkout/steps/summary/_item.html.twig' with {'item': item} %}
            {% endfor %}
            {% include '@CoreShopFrontend/Checkout/steps/summary/_rules.html.twig' %}
        </tbody>
        <tfoot>
            {% include '@CoreShopFrontend/Checkout/steps/summary/_summary.html.twig' %}
        </tfoot>
    </table>
</div>
