{%  if customer and not customer.isGuest() %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_customer_profile') }}">
            {{ 'coreshop.ui.account'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_cart_summary') }}">
            {{ 'coreshop.ui.shopping_cart'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_checkout', {'stepIdentifier': 'cart'}) }}">
            {{ 'coreshop.ui.checkout'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_logout') }}">
            {{ 'coreshop.ui.logout'|trans }}
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_register') }}">
            {{ 'coreshop.ui.register'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('coreshop_login') }}">
            {{ 'coreshop.ui.login'|trans }}
        </a>
    </li>
{% endif %}