{%  if customer and not customer.isGuest() %}
    <li>
        <a href="{{ path('coreshop_customer_profile') }}">
            <i class="fa fa-user d-block d-sm-none" title="{{ 'coreshop.ui.account'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.account'|trans }}
            </span>
        </a>
    </li>
    <li>
        <a href="{{ path('coreshop_cart_summary') }}">
            <i class="fa fa-shopping-cart d-block d-sm-none" title="{{ 'coreshop.ui.shopping_cart'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.shopping_cart'|trans }}
            </span>
        </a>
    </li>
    <li>
        <a href="{{ path('coreshop_checkout', {'stepIdentifier': 'cart'}) }}">
            <i class="fa fa-crosshairs d-block d-sm-none" title="{{ 'coreshop.ui.checkout'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.checkout'|trans }}
            </span>
        </a>
    </li>
    <li>
        <a href="{{ path('coreshop_logout') }}">
            <i class="fa fa-crosshairs d-block d-sm-none" title="{{ 'coreshop.ui.logout'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.logout'|trans }}
            </span>
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ path('coreshop_register') }}">
            <i class="fa fa-unlock d-block d-sm-none" title="{{ 'coreshop.ui.register'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.register'|trans }}
            </span>
        </a>
    </li>
    <li>
        <a href="{{ path('coreshop_login') }}">
            <i class="fa fa-lock d-block d-sm-none" title="{{ 'coreshop.ui.login'|trans }}"></i>
            <span class="d-none d-sm-inline">
                {{ 'coreshop.ui.login'|trans }}
            </span>
        </a>
    </li>
{% endif %}