{%  if customer and customer.user %}
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path(customer, 'coreshop_customer_profile') }}">
            {{ 'coreshop.ui.account'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path(coreshop.cart, 'coreshop_cart_summary') }}">
            {{ 'coreshop.ui.shopping_cart'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path(coreshop.cart, 'coreshop_checkout', {'stepIdentifier': coreshop_checkout_steps_get_first()}) }}">
            {{ 'coreshop.ui.checkout'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path('coreshop_logout') }}">
            {{ 'coreshop.ui.logout'|trans }}
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path('coreshop_register') }}">
            {{ 'coreshop.ui.register'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ coreshop_path('coreshop_login') }}">
            {{ 'coreshop.ui.login'|trans }}
        </a>
    </li>
{% endif %}
