{% extends '@CoreShopFrontend/layout-full.html.twig' %}

{% block center %}
<div id="main-container" class="container p-0">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('coreshop_customer_profile') }}">{{ 'coreshop.ui.profile'|trans }}</a></li>
        <li class="breadcrumb-item active"><a href="{{ path('coreshop_customer_addresses') }}">{{ 'coreshop.ui.addresses'|trans }}</a></li>
    </ol>

    <h2 class="main-heading text-center">
        {{ 'coreshop.ui.addresses'|trans }}
    </h2>

    <section class="addresses-area">
        <div class="row">
            {% for address in customer.getAddresses %}
            <div class="col-6">
                <div class="card panel-smart">
                    <div class="card-body">
                        {{ address|coreshop_format_address }}
                        <br/>
                        <a href="{{ path('coreshop_customer_address_edit', {name: address.getStreet, address: address.getId}) }}" class="btn btn-secondary">
                            {{ 'coreshop.ui.edit'|trans }}
                        </a>
                        <a href="{{ path('coreshop_customer_address_delete', {address: address.getId}) }}" class="btn btn-secondary">
                            {{ 'coreshop.ui.delete'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ path('coreshop_customer_address_new') }}" class="btn btn-secondary">
                    {{ 'coreshop.ui.add_new_address'|trans }}
                </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}