{% extends '@CoreShopFrontend/layout-full.html.twig' %}
{% form_theme form '@CoreShopFrontend/Common/theme.html.twig' %}

{% block center %}
    <div id="main-container" class="container p-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ coreshop_path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ coreshop_path(customer, 'coreshop_customer_profile') }}">{{ 'coreshop.ui.profile'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'coreshop.ui.settings'|trans }}</li>
            </ol>
        </nav>

        <h2 class="main-heading text-center">
            {{ 'coreshop.ui.settings'|trans }} <br/>
        </h2>

        <section class="registration-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-smart">
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                {{ form_row(form.salutation, coreshop_test_form_attribute('salutation')) }}
                                {{ form_row(form.gender, coreshop_test_form_attribute('gender')) }}
                                {{ form_row(form.firstname, coreshop_test_form_attribute('firstname')) }}
                                {{ form_row(form.lastname, coreshop_test_form_attribute('lastname')) }}
                                {{ form_row(form.defaultAddress, coreshop_test_form_attribute('default-address')) }}
                                {{ form_row(form.newsletterActive, coreshop_test_form_attribute('newsletter-active')) }}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" {{ coreshop_test_html_attribute('save-changes') }}>
                                        {{ 'coreshop.ui.save'|trans }}
                                    </button>
                                </div>

                                {{ form_row(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
