{% block coreshop_carrier_choice_widget %}
    {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <span class="carrier-choice-wrapper">
                    {{- form_widget(child, {translation_domain: choice_translation_domain, valid: valid}) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain, valid: valid}) -}}
                    {% if child.parent.vars.choices_description is defined and child.parent.vars.choices_description[child.vars.value] is defined %}
                        <span class="coreshop-choice-description carrier-description">{{ child.parent.vars.choices_description[child.vars.value] }}</span>
                    {% endif %}
                </span>
            {% endfor -%}
            </div>
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{% endblock %}

{% block coreshop_payment_provider_choice_widget %}
    {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <span class="payment-provider-choice-wrapper">
                    {{- form_widget(child, {translation_domain: choice_translation_domain, valid: valid}) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain, valid: valid}) -}}
                    {% if child.parent.vars.choices_description is defined and child.parent.vars.choices_description[child.vars.value] is defined %}
                        <span class="coreshop-choice-description payment-description">{{ child.parent.vars.choices_description[child.vars.value] }}</span>
                    {% endif %}
                    {% if child.parent.vars.choices_instruction is defined and child.parent.vars.choices_instruction[child.vars.value] is defined %}
                        <span class="coreshop-choice-description payment-choices_instruction">{{ child.parent.vars.choices_instruction[child.vars.value] }}</span>
                    {% endif %}
                </span>
            {% endfor -%}
            </div>
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{% endblock %}
