{% extends '@CoreShopFrontend/Order/layout.html.twig' %}

{% block checkout_title %}
    {{ 'coreshop.ui.order_revise'|trans }}
{% endblock %}

{% block order %}

    {% if order.paymentState in ['awaiting_payment'] %}
        {{ form_start(form, {'action': path('coreshop_order_revise', {'token': order.token}), 'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.paymentProvider) }}

        <button type="submit" class="btn btn-main">{{ 'coreshop.ui.buy'|trans }}</button>

        {{ form_end(form) }}

    {% else %}
        {{ 'coreshop.ui.order_revise_payment_change_not_allowed'|trans }}
    {% endif %}

{% endblock %}