{% if values|length > 0 %}
<div class="list-group">
    {% if label %}
        <div class="list-group-item">
            {{ label|trans }}
        </div>
    {% endif %}

    <div class="list-group-item">
        <div class="filter-group filter-group-checkbox">
            {% for value in values %}
                {% if value %}
                    <label class="checkbox">
                        <input name="{{ fieldName }}[]" type="checkbox" value="{{ value['value'] }}" {% if currentValues is iterable and value['value'] in currentValues %} checked="checked" {% endif %}>
                        {{ value['value']|trans }} {% if quantityUnit %} {{ quantityUnit.abbreviation }} {% endif %}
                    </label>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
