{% if objects|length > 0 %}
<div class="list-group">
    {% if label %}
        <div class="list-group-item">
            {{ label|trans }}
        </div>
    {% endif %}

    <div class="list-group-item">
        <div class="filter-group filter-group-checkbox">
            {% for value in objects if value %}
                <label class="checkbox">
                    <input name="{{ fieldName }}[]" type="checkbox" value="{{ value.id }}" {% if currentValues is iterable and value.id in currentValues %} checked="checked" {% endif %}>
                    {{ value.getId }} {% if quantityUnit %} {{ quantityUnit.abbreviation }} {% endif %}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
