{% extends '@CoreShopFrontend/Checkout/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block checkout_title %}
    {{ 'coreshop.ui.address'|trans }}
{% endblock %}

{% block checkout %}
    <div class="panel">
        <div class="panel-body">
            {% if form.shippingAddress.vars.choices|length > 0 %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.shippingAddress) }}
                    </div>

                    <div class="col-xs-6 invoice-address-selector" style="{% if form.useShippingAsInvoice.vars.data %} display:none {% endif %}">
                        {{ form_row(form.invoiceAddress) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.useShippingAsInvoice) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-smart">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    {{ 'coreshop.ui.shipping_address'|trans }}
                                </h4>
                            </div>
                            <div class="panel-body panel-shipping-address">

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-smart">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    {{ 'coreshop.ui.invoice_address'|trans }}
                                </h4>
                            </div>
                            <div class="panel-body panel-invoice-address">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ path('coreshop_customer_address_new') }}" class="btn btn-default pull-left">
                            {{ 'coreshop.ui.add_new_address'|trans }}
                        </a>

                        <button type="submit" class="btn btn-default pull-right">
                            {{ 'coreshop.ui.proceed'|trans }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}

            {% else %}
                <p>{{ 'coreshop.ui.no_address_found'|trans }}</p>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ path('coreshop_customer_address_new') }}" class="btn btn-default pull-left">
                            {{ 'coreshop.ui.add_new_address'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
