{% extends '@CoreShopFrontend/Checkout/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block checkout_title %}
    {{ 'coreshop.ui.shipping'|trans }}
{% endblock %}

{% block checkout %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.carrier) }}
        {{ form_row(form.comment) }}
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default pull-right">
                    {{ 'coreshop.ui.proceed'|trans }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}