{% extends '@CoreShopFrontend/Checkout/layout.html.twig' %}

{% block checkout_title %}
    {{ 'coreshop.ui.summary'|trans }}
{% endblock %}

{% block checkout %}
    {% include '@CoreShopFrontend/Common/Cart/_table.html.twig' with {cart: coreshop.cart} %}

    <div class="row">
        <div class="col-xs-12 col-sm-1 col-sm-push-10">
            <a href="{{ path('coreshop_cart_create_qoute') }}" class="btn btn-main w-100">
                {{ 'coreshop.ui.quote'|trans }}
            </a>
        </div>
        <div class="col-xs-12 col-sm-1 col-sm-push-10">
            <a href="{{ path('coreshop_checkout_do') }}" class="btn btn-main w-100">
                {{ 'coreshop.ui.buy'|trans }}
            </a>
        </div>
    </div>
{% endblock %}