{% extends '@CoreShopFrontend/Checkout/layout.html.twig' %}

{% block checkout %}
    {{ render(controller('coreshop.frontend.controller.cart:widgetSummaryAction')) }}

    <div class="row">
        <div class="col-xs-12 col-sm-1 col-sm-push-10">
            <a href="{{ path('coreshop_shop_cart_quote_create') }}" class="btn btn-main w-100">
                {{ 'quote'|trans }}
            </a>
        </div>
        <div class="col-xs-12 col-sm-1 col-sm-push-10">
            <a href="{{ path('coreshop_shop_perform_checkout') }}" class="btn btn-main w-100">
                {{ 'buy'|trans }}
            </a>
        </div>
    </div>
{% endblock %}