{% extends '@CoreShopFrontend/Checkout/layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block checkout_title %}
    {{ 'coreshop.ui.summary'|trans }}
{% endblock %}

{% block checkout %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        {% if cart.hasItems %}
            <div class="cart-summary">
                {% include '@CoreShopFrontend/Checkout/steps/summary/_list.html.twig' %}
            </div>
        {% endif %}

        {{ form_row(form.acceptTerms) }}

        <div class="row">
            <div class="col-12 col-sm-1 offset-sm-10">
                <button type="submit" name="checkout_finisher" value="{{ coreshop_path(cart, 'coreshop_cart_create_qoute') }}" class="btn btn-success w-100">{{ 'coreshop.ui.quote'|trans }}</button>
            </div>
            <div class="col-12 col-sm-1">
                <button type="submit" name="checkout_finisher" value="{{ coreshop_path(cart, 'coreshop_checkout_do') }}" class="btn btn-success w-100">{{ 'coreshop.ui.buy'|trans }}</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
