{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set productUrl = coreshop_path(item.product, 'coreshop_product_detail') %}

<tr class="shopping-cart-item">
    <td class="text-center">
        {% if item.product and item.product.image is asset_image %}
            <a href="{{ productUrl }}">
                {{ item.product.image|image_thumbnail_html('coreshop_productCart', {'class': 'img-fluid', 'alt': item.product.name, 'title': item.product.name}) }}
            </a>
        {% endif %}
    </td>
    <td class="text-center">
        <a href="{{ productUrl }}">
            {{ item.name }}
        </a>
        {% if item.isGiftItem %}
            <br/><span>{{ 'coreshop.ui.gift_item'|trans }}</span>
        {% endif %}
    </td>
    <td class="text-center">
        {% if item.isGiftItem %}
            <span>{{ item.quantity }}</span>
            {% if item.hasUnitDefinition %}
                <span class="unit-definition unit-name">{{ item.unitDefinition.unit.name }}</span>
            {% endif %}
        {% else %}
            <div class="input-group">
                {{ form_widget(form.quantity) }}
                {% if item.hasUnitDefinition %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{ item.unitDefinition.unit.name }}</span>
                    </div>
                {% endif %}

                {{ form_errors(form.quantity) }}
            </div>
        {% endif %}
    </td>
    <td class="text-right cart-item-price">
        {% set price = item.itemPrice %}
        {% set discount = item.itemDiscount %}
        {% set discountPrice = item.itemDiscountPrice %}
        {% set retailPrice = item.itemRetailPrice %}

        <span class="price-new">{{ currency.convertAndFormat(price) }}</span>
        {% if price < retailPrice %}
            {% if discountPrice > 0 %}
                <span class="price-old">{{ currency.convertAndFormat(retailPrice) }}</span>
            {% endif %}
            {% if discount > 0 %}
                <span class="price-discount">(-{{ currency.convertAndFormat(discount) }})</span>
            {% endif %}
        {% endif %}
    </td>
    <td class="text-right cart-item-total-price">
        {{ currency.convertAndFormat(item.total) }}
    </td>
    <td class="text-center">
        {% if not item.isGiftItem %}
            <a href="{{ coreshop_path(cart, 'coreshop_cart_remove', {cartItem: item.id}) }}"
               title="{{ 'coreshop.ui.remove'|trans }}" class="btn btn-danger tool-tip" data-id="{{ item.id }}">
                <i class="fa fa-times-circle"></i>
            </a>
        {% endif %}
    </td>
</tr>
