{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set productUrl = coreshop_path(item.getProduct(), 'coreshop_product_detail') %}

<tr class="shopping-cart-item">
    <td class="text-center">
        {% if item.getProduct and item.getProduct.getImage() %}
            <a class="" href="{{ productUrl }}">
                {{ item.getProduct.getImage.getThumbnail("coreshop_productCart").getHtml({'class': 'img-fluid', 'alt': item.getProduct.getName, 'title': item.getProduct.getName})|raw }}
            </a>
        {% endif %}
    </td>
    <td class="text-center">
        <a href="{{ productUrl }}">
            {{ item.getProduct.getName() }}
        </a>
        {% if item.getIsGiftItem %}
            <br/><span>{{ 'coreshop.ui.gift_item'|trans }}</span>
        {% endif %}
    </td>
    <td class="text-center">
        {% if item.getIsGiftItem %}
            <span>{{ item.getQuantity }}</span>
            {% if item.hasUnitDefinition %}
                <span class="unit-definition unit-name">{{ item.getUnitDefinition.getUnit.getName }}</span>
            {% endif %}
        {% else %}
            <div class="input-group">
                {{ form_widget(form.quantity) }}
                {% if item.hasUnitDefinition %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{ item.getUnitDefinition.getUnit.getName }}</span>
                    </div>
                {% endif %}

                {{ form_errors(form.quantity) }}
            </div>
        {% endif %}
    </td>
    <td class="text-right cart-item-price">
        {% set price = item.getItemPrice %}
        {% set discount = item.getItemDiscount %}
        {% set discountPrice = item.getItemDiscountPrice %}
        {% set retailPrice = item.getItemRetailPrice %}

        <span class="price-new">{{ currency.convertAndFormat(price) }}</span>
        {% if price < retailPrice %}
            <span class="price-old">{{ currency.convertAndFormat(discountPrice) }} {% if discount > 0 %}(-{{ currency.convertAndFormat(discount) }}{% endif %})</span>
        {% endif %}
    </td>
    <td class="text-right cart-item-total-price">
        {{ currency.convertAndFormat(item.getTotal) }}
    </td>
    <td class="text-center">
        {% if not item.getIsGiftItem %}
            <a href="{{ coreshop_path(cart, 'coreshop_cart_remove', {cartItem: item.getId}) }}"
               title="{{ 'coreshop.ui.remove'|trans }}" class="btn btn-danger tool-tip" data-id="{{ item.getId }}">
                <i class="fa fa-times-circle"></i>
            </a>
        {% endif %}
    </td>
</tr>
